* {
  margin: 0;
  font-family: hanyi;
}
.flex {
  display: flex;
  align-items: center;
}
.flexA {
  flex: 2;
  padding-left: 10px;
}
.flexB {
  padding-right: 10px;
}
.img {
  height: 50px;
  padding-left: 10px;
}
.png {
  height: 50px;
}
.pink {
  color: #f5d2e5;
}
.border-radius {
  border-radius: 20px;
}
.jpg {
  max-width: 100%;
  height: auto;
  margin: 20px;
}
@font-face {
  font-family: hanyi;
  src: url(汉仪文黑-85W.ttf);
}
